.form-create-game {
  float: right;
}
.form-create-game .form-group {
  margin-left: 5px;
}
.box-mb-20 {
  margin-bottom: 20px;
}
.game-title {
  line-height: 38px;
}

.btn-group {
  margin-left: 15px;
}

.btn-refresh {
  margin-left: 15px;
}

.board-title {
  line-height: 38px;
}

.table-board .badge-pill {
  width: 30px;
  height: 30px;
}

.table-board .badge-selected {
  font-size: 150%;
  background-color: rgba(91, 192, 222, 0.6);
  color: #f0ad4e;
  vertical-align: middle;
  padding-top: 4px;
  padding-left: 6px;
}
