.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.sidebar-button {
  position: fixed;
  top: 50%;
  margin-top: -19px;
  margin-left: -48px;
  z-index: 1000;
}
